*.pyc
.idea/
OldboyCRM/settings.py
crm/migrations
student/migrations
teacher/migrations
consult_data/!.gitkeep
consult_data/*
enrolled_data/!.gitkeep
enrolled_data/*
homework_data/!.gitkeep
homework_data/*
attendance_data/!.gitkeep
attendance_data/*
__pycache__/