{% extends 'teacher/dashboard.html'%}
    {%block dash-filter%}
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ request.user }}老师您好，这是您选择的课程的详细信息
                    <div style="float: right">
                        <a href="{% url 'createcourse' courselist.first.course_id %}">
                            创建一节新的课程
                        </a>
                    </div>
                </h3>
            </div>
            <div class="panel-body">
                <table id="demo-dt-basic" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>节次</th>
                            <th>上课时间</th>
                            <th>是否有作业</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courselist %}
                            <tr>
                                <td>
                                    <a href="{% url 'courserecord' course.id %}">
                                        {{ course.day_num}}
                                    </a>
                                </td>
                                <td>{{ course.date }}</td>
                                <td>{{ course.has_homework }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}