{%extends 'stu/stu_dash.html'%}
{%load stu_cus_tag%}
{%load humanize %}




{% block dash-content%}
<div id="page-content" href_pathname="tracking">
    <!--<div class="panel-heading">-->
        <!--<h3 class="panel-title">正跟进……</h3>-->
	<!--</div>-->
    <div class="panel-body">
		<div class="pad-btm form-inline">
            <div class="row">
				<ul style="list-style-type: none;position: relative;right: 40px;padding-bottom: 200px;">
					{%for item in my_classlist%}
					<li style="padding-bottom: 100px">
						<h3>{{item.get_course_display}}</h3>
							{%for module in item.coursemodule.all%}
                        	<a href="{% url 'module_detail' %}?id={{module.id}}" >
								<div class="col-sm-6 col-md-4">
									<div class="panel panel-dark panel-colorful">
										<div style="height: 0;padding-top:20%;padding-bottom: 40%" class="panel-body text-center">
											<h2>{{module.name}}</h2>

										</div>

										<button class="btn btn-block btn-primary">已完成:{%has_study module.id request.session.username%}</button>
									</div>
									<div style="height: 200px"></div>
								</div>
								<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
								<!--End large tile (Visit Today)-->
                        </a>

						{%endfor%}

					</li>

					{%endfor%}


				</ul>
			</div>

        </div>
    </div>
</div>


{%endblock%}