{%extends 'stu/stu_dash.html'%}
{% block dash-content%}
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">这是您学习的全部班级(点击课程名称查看课程详细...)</h3>
        </div>
        <div class="panel-body">
            <table id="demo-dt-basic" class="table table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>课程名称</th>
                        <th>授课教师</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                    </tr>
                </thead>
                <tbody>
                    {% for class in my_classlist %}
                        <tr>
                            <td>
                                <a href="{% url 'class_detail_student' class.id %}">
                                    <button class="btn btn-info">{{ class}}</button>
                                </a>
                            </td>
                            <td>
                                {% for teacher in class.teachers.all %}
                                    {{ teacher }},
                                {% endfor %}
                            </td>
                            <td>{{ class.start_date }}</td>
                            <td>{{ class.graduate_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{%endblock%}