{% extends 'crm/enrollment/enrollment_dash.html' %}
{% block dash-enrollment%}
    <div style="width: 100%" class="col-sm-6 text-left">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title text-center">请填写如下表格</h3>
        </div>
        {%if error %}
            <h1>{{error}}</h1>
        {%endif%}
{#            <form id='enrollment_payment_form' class="form-horizontal">#}
            <form method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="panel-body ">
                    <div class="form-group text-left">
                        <label class="col-lg-3 control-label"><b>客户名称</b></label>
                        <div class="col-sm-6 ">
                            <select class="form-control" id="id_customer" name="customer">
                                <option customer_qq={{customer.qq}} value="{{customer.id}}" selected="selected">{{customer}}</option>
                            </select>
                        </div>
                    </div>
                    {%for field in form%}
                        <div class="form-group text-left">
                            {%if field.field.required %}
                                <label class="col-lg-3 control-label"><b>{{field.label}}</b></label>
                            {%else%}
                                <label class="col-lg-3 control-label">{{field.label}}</label>
                            {%endif%}
                            <div class="col-sm-6 ">
                                {%if field.name == 'consultant'%}
                                    <select class="form-control form-icon" id="id_consultant" name="consultant">
                                        <option value="{{request.user.id}}" selected="selected">{{request.user}}</option>
                                    </select>
                                {%elif field.name == 'classlist'%}
                                    <select class="form-control form-icon" id="id_classlist" name="classlist">
                                        <option value="{{enrollmentinformation.course_grade.id}}" selected="selected">{{enrollmentinformation.course_grade}}</option>
                                    </select>
                                {%else%}
                                    {{field}}
                                {%endif%}
                            </div>
                            <div style="color: red" class="col-sm-3">
                                {{field.errors}}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="panel-footer text-center">
                    <input class="btn btn-info" type="submit" value="提交"></input>
{#                    <button id='{{forloop.counter}}_btn' type="button" class="btn btn-info" onclick="en_postdata('{{forloop.counter}}_form','{{customer.qq}}')">提交</button>#}
                </div>
            </form>
    </div>
</div>

{% endblock %}