{% extends 'crm/enrollment/enrollment_dash.html' %}
{% block dash-enrollment %}
    <div id="page-content" >
        <div class="row" >
            <div style="width: 100%" class="col-lg-6">
                <div class="panel">
                    <!--Panel heading-->
                    <div class="panel-heading">
                        <div class="panel-control">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#demo-tabs-box-1" data-toggle="tab">在线报名地址</a></li>
                            </ul>
                        </div>
                        <h3 class="panel-title">客户报名相关信息</h3>
                    </div>
                    <!--Panel body-->
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="demo-tabs-box-1">
                                <div class="table-responsive">
                                    <p>用户名称：{{ enrollment_obj.customer }}</p>
                                    <p>报名班级：{{ enrollment_obj.course_grade }}</p>
                                    {% if enrollment_obj.school == 0 %}
                                        <p>报名校区：北京</p>
                                    {% elif enrollment_obj.school == 1 %}
                                        <p>报名校区：上海</p>
                                    {% endif %}
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">请核对以上信息，若信息正确请将如下网址发给客户，以供其网上报名，否则，请点击<button id="enrollment_readd" style="line-height: 15px">重新填写信息</button>，修改报名信息</h3>
                                        </div>
                                        <div class="panel-body">
                                            <p>http://crm.oldboyedu.com/crm/enrollment_student/?stu_qq={{customer.qq}}&course_grade={{enrollment_obj.course_grade.course}}_{{enrollment_obj.course_grade.semester}} </p>
                                            <p>学员完成报名后，可以点击<button id="enrollment_continue">继续</button>，继续为其办理报名</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block enrollment_js %}
    <script>
        $(function () {
            $('#enrollment_readd').click(function () {
                $.ajax({
                    url:location.href,
                    type:'POST',
                    data:{flag:'readd',enrollment_id:{{enrollment_obj.id}}},
                    async:false,
                    dataType:'json',
                    success:function (data) {
                        window.location.reload()
                    },
                })
            })

            $('#enrollment_continue').click(function () {
                window.location.reload();
            });
        });
    </script>
{% endblock %}