{%extends 'crm/dashboard.html'%}

{% block dash-content%}

<div class="col-sm-12 text-left">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title text-center">请填写如下表格(加粗字体为必填项)</h3>
            </div>

            <form class="form-horizontal" action=" " method="POST">
                {% csrf_token %}
                <div class="panel-body ">
                    {%for field in form%}
                    <div class="form-group text-left">
                        {%if field.field.required%}
                        <label class="col-lg-3 control-label"><b>{{field.label}}</b></label>
                        {%else%}
                        <label class="col-lg-3 control-label">{{field.label}}</label>
                        {%endif%}
                        {%if field.name == 'consultant'%}
                        <div class="col-sm-6">
                            <select class="form-control" id="id_consultant" name="consultant">
<option value="{{curr_user.id}}" selected="selected">{{curr_user.name}}</option>
</select>
                        </div>
                        {%elif field.name == 'name'%}
                           <div class="col-sm-6">
                            {{ field }}
                            <span style="color: blue">{{ field.help_text }}</span>
                            </div>

                         {%elif field.name == 'status'%}
                           <div class="col-sm-6">
                             <select class="form-control"  name="status">
<option value="unregistered" selected="selected">未报名</option>
</select>

                            </div>
                         {%elif field.name == 'class_list'%}
                           <div class="col-sm-6" >

                             <select class="form-control" >
<option value="" selected="selected">{{curr_user.class_list.all}}</option>
</select>

                            </div>
                         {%else%}
                        <div class="col-sm-6">
                            {{field}}
                        </div>
                        {%endif%}
                        <div class="col-sm-3"style="color: red;">
                          {%for error in field.errors%}
                            {{error}}
                            {%endfor%}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="panel-footer text-center">
                    <input class="btn btn-info" type="submit" value="提交">
                </div>
            </form>


        </div>
</div>





{% endblock %}