{%extends 'crm/dashboard.html'%}

{% block header-resource-files %}

    <link href="/static/plugins/dropzone/dropzone.css" rel="stylesheet">

    <script src="/static/plugins/dropzone/dropzone.min.js"></script>

{% endblock %}

{% block dash-content%}

    <div class="col-sm-12 text-left">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title text-center">请填写如下表格(加粗字体为必填项)</h3>
            </div>
            <form class="form-horizontal" action=" " method="POST">
                {% csrf_token %}
                <div class="panel-body ">
                    {%for field in form%}
                        {% if field.name == 'source' and field.value == 'referral' %}
                            <div class="form-group text-left">
                                <label class="col-lg-3 control-label"><b>客户来源</b></label>
                                <div class="col-sm-6">
                                    {{field}}
                                </div>
                                <div class="col-sm-3" style="color: red;"></div>
                            </div>
                            <div class="form-group text-left from_student">
                                <label class="col-lg-3 control-label">
                                    <b>推荐学员</b>
                                </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="id_referral_from" name="referral_from">
                                        <option value="{{ from_student.qq }}" selected="selected">{{ from_student }}</option>
                                    </select>
                                </div>
                                {% if from_student %}
                                    <div class="col-sm-3" style="color: blue;">  若学生信息不符，请重新输入查询 </div>
                                {% else %}
                                    <div class="col-sm-3" style="color: red;">  该学生不存在，请重新输入 </div>
                                {% endif %}
                            </div>
                            <div class="form-group text-left from_student">
                                <label class="col-lg-3 control-label ">请输入推荐学生QQ号</label>
                                <div class="col-sm-6">
                                    <input style="width:90%;float:left" class="form-control from_student" id="id_stu_id" maxlength="64" placeholder="" type="text" value="{{ from_student.qq }}">
                                    <button class="from_student" style="float:right;line-height:25px" type="button">查询</button>
                                </div>
                            </div>
                        {%elif field.name == 'consultant'%}
                            <div class="form-group text-left">
                                <label class="col-lg-3 control-label">报名状态</label>
                                <div class="col-sm-6">
                                    <select class="form-control"  name="status">
                                        <option value="unregistered" selected="selected">未报名</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group text-left">
                                <label class="col-lg-3 control-label"><b>{{field.label}}</b></label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="id_consultant" name="consultant">
                                        <option value="{{curr_user.id}}" selected="selected">{{curr_user.name}}</option>
                                    </select>
                                </div>
                            </div>
                        {% else %}
                            <div class="form-group text-left">
                                {%if field.field.required%}
                                    <label class="col-lg-3 control-label"><b>{{field.label}}</b></label>
                                {%else%}
                                    <label class="col-lg-3 control-label">{{field.label}}</label>
                                {%endif%}
                                {%if field.name == 'name'%}
                                    <div class="col-sm-6">
                                        {{ field }}
                                        <span style="color: blue">{{ field.help_text }}</span>
                                    </div>
                                {%elif field.name == 'class_list'%}
                                    <div class="col-sm-6" >
                                        <select class="form-control" >
                                            <option  value="" selected="selected">{{curr_user.class_list.all}}</option>
                                        </select>
                                    </div>
                                {%else%}
                                    <div class="col-sm-6">
                                        {{field}}
                                    </div>
                                {%endif%}
                                <div class="col-sm-3"style="color: red;">
                                    {%for error in field.errors%}
                                        {{error}}
                                    {%endfor%}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="panel-footer text-center">
                    <input class="btn btn-info" type="submit" value="提交">
                </div>
            </form>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">咨询信息上传 {% if file_upload_err %}<span style="color: red">{{ file_upload_err }}</span>{% endif %}</h3>
        </div>
        <div class="panel-body">
             <div class="row">
                {% if uploaded_files %}
                <h5>已上传文件</h5>
                    <ul>
                     {% for file in uploaded_files %}
                         <li>{{ file }}</li>
                     {% endfor %}
                    </ul>
                {% endif %}
             </div>
            <!--Dropzonejs-->
            <!--===================================================-->
            <form id="demo-dropzone" action="#" class="dropzone dz-clickable">{% csrf_token %}
                <div class="dz-default dz-message">
                    <div class="dz-icon icon-wrap icon-circle icon-wrap-md">
                        <i class="fa fa-cloud-upload fa-3x"></i>
                    </div>
                    <div>
                        <p class="dz-text">将截图拖拽到此区域或点击上传按钮</p>
                        <p class="text-muted">请将咨询过程内容截图并上传</p>
                    </div>
                </div>

            </form>
            <!--===================================================-->
            <!-- End Dropzonejs -->

        </div>
    </div>

{% endblock %}

{%block dash-footer-js%}
    <script src="/static/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <script>
    $(function () {
        $('select#id_source').change(function () {
            if($(this).val() == 'referral'){
                if($('button.from_student').length==0){
                    $(this).parent().parent().after('<div class="form-group text-left from_student"> <label class="col-lg-3 control-label ">请输入推荐学生QQ号</label> <div class="col-sm-6"> <input style="width:90%;float:left" class="form-control from_student" id="id_stu_id" maxlength="64" placeholder="" type="text"> <button class="from_student" style="float:right;line-height:25px" type="button">查询</button> </div> </div>');
                }
                $('button.from_student').click(function () {
                    var student_qq = $('input.from_student').val();
                        $.ajax({
                            url: "{% url 'searchcustomer' %}",
                            type: 'POST',
                            data: {student_qq:student_qq},
                            success:function (data) {
                                if(data == ''){
                                    if($('select#id_referral_from').length>0){
                                        $('select#id_referral_from').children().first().val('').text('');
                                        $('select#id_referral_from').parent().next().text('该学生不存在，请重新输入').css({'color':'red'});
                                    } else {
                                        $('select#id_source').parent().parent().after('<div class="form-group text-left from_student"> <label class="col-lg-3 control-label"><b>推荐学员</b></label> <div class="col-sm-6"> <select class="form-control" id="id_referral_from" name="referral_from"> <option value= selected="selected"></option> </select> </div> <div class="col-sm-3" style="color: red;"> 该学不存在，请重新输入 </div> </div>');
                                    }
                                }else {
                                    var QQ = data.split(' ')[0];
                                    var qq =  QQ.split(':')[1];
                                    console.log(data)
                                    if($('select#id_referral_from').length>0){
                                        $('select#id_referral_from').children().first().val(qq).text(data);
                                        $('select#id_referral_from').parent().next().text('若学生信息不符，请重新输入查询').css({'color':'blue'});
                                    } else {
                                        $('select#id_source').parent().parent().after('<div class="form-group text-left from_student"> <label class="col-lg-3 control-label"><b>推荐学员</b></label> <div class="col-sm-6"> <select class="form-control" id="id_referral_from" name="referral_from"> <option value=' + qq + ' selected="selected">' + data + '</option> </select> </div> <div class="col-sm-3" style="color: blue;">  若学生信息不符，请重新输入查询 </div> </div>');
                                    }
                                }
                            }
                        })
                    })
            }else {
                $('div.from_student').remove();
{#                $('select#id_referral_from').parent().parent().remove();#}
            }
        })
        $('select#id_source').trigger('change')
    })
    </script>

{%endblock%}