{%extends 'crm/dashboard.html'%}
{%load humanize %}
{% load custom_tag %}


{% block dash-filter%}

<div style="height: 50px;width: auto;border: 1px solid lightgray">
	<div style="float: left;line-height: 50px;margin:0px 10px 0px  20px" >{% action_all  current_url  2 '以客户状态'%}</div>
	<div >
		<ul style="list-style-type: none;">
			{% for item in cus_status %}
             {% action current_url item  2%}

        	{% endfor %}

		</ul>
	</div>
	<div style="clear: both"></div>
</div>

<div style="height: 50px;width: auto;border: 1px solid lightgray">
	<div style="float: left;line-height: 50px;margin:0px 10px 0px  20px" >{% action_all  current_url  3  '以课程顾问'%}</div>
	<div >
		<ul style="list-style-type: none;">
			{% for item in staffs %}
             {% action current_url item 3 %}
        	{% endfor %}
		</ul>
	</div>
	<div style="clear: both"></div>
</div>

{% endblock %}







{% block dash-content%}


				<div id="page-title">
					<h1 class="page-header text-overflow"></h1>

					<div class="searchbox">
						<div class="input-group custom-search-form">

							<span class="input-group-btn">

							</span>
						</div>
					</div>
				</div>

				<div id="page-content">
					<div class="panel">
						<div class="panel-heading">
							<h3 class="panel-title">学员信息</h3>
						</div>

						<!--Data Table-->
						<!--===================================================-->
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr>

											<th>
												<div style="float: left;margin-right: 3px">
												<a href="" class="a-ico-sort">
												<div>

													<div style="float:left;text-align: center;line-height: 35px">
														<span>QQ</span>
													</div>
													<div class="div2-ico-sort hid">
														<div class="div-ico-sort">
														<i class="fa fa-caret-up" aria-hidden="false"></i>
														</div>
														<div class="div-ico-sort hid">
														<i class="fa fa-caret-down" aria-hidden="true"></i>
														</div>
													</div>

												</div>
												</a>
													</div>
												<div style="float: left;text-align: center;line-height: 34px">
													<a href="" title="取消过滤">
														<i class="fa fa-ban hid" aria-hidden="true"></i>
													</a>
												</div>
												<div style="clear: both"></div>
											</th>
											<th>
												<div style="float: left;margin-right: 3px">
												<a href="" class="a-ico-sort">
												<div>

													<div style="float:left;text-align: center;line-height: 35px">
														<span sort_by='stu_id'>学号</span>
													</div>
													<div class="div2-ico-sort">
														<div class="div-ico-sort">
														<i class="fa fa-caret-up" aria-hidden="false"></i>
														</div>
														<div class="div-ico-sort">
														<i class="fa fa-caret-down" aria-hidden="true"></i>
														</div>
													</div>

												</div>
												</a>
											</div>
											</th>
											<th>
												<div style="float: left;margin-right: 3px">
												<a href="" class="a-ico-sort">
												<div>

													<div style="float:left;text-align: center;line-height: 35px">
														<span sort_by='name'>学员姓名</span>
													</div>
													<div class="div2-ico-sort">
														<div class="div-ico-sort">
														<i class="fa fa-caret-up" aria-hidden="false"></i>
														</div>
														<div class="div-ico-sort ">
														<i class="fa fa-caret-down" aria-hidden="true"></i>
														</div>
													</div>

												</div>
												</a>
													</div>

											</th>

											<th>
												<div style="float: left;margin-right: 3px">
												<a href="" class="a-ico-sort">
												<div>

													<div style="float:left;text-align: center;line-height: 35px">
														<span sort_by="consultant">课程顾问</span>
													</div>
													<div class="div2-ico-sort">
														<div class="div-ico-sort">
														<i class="fa fa-caret-up" aria-hidden="false"></i>
														</div>
														<div class="div-ico-sort ">
														<i class="fa fa-caret-down" aria-hidden="true"></i>
														</div>
													</div>

												</div>
												</a>
													</div>

											</th>
											<th>
												<div style="float: left;margin-right: 3px">
												<a href="" class="a-ico-sort">
												<div>

													<div style="float:left;text-align: center;line-height: 35px">
														<span sort_by='status'>学员状态</span>
													</div>
													<div class="div2-ico-sort">
														<div class="div-ico-sort">
														<i class="fa fa-caret-up" aria-hidden="false"></i>
														</div>
														<div class="div-ico-sort">
														<i class="fa fa-caret-down" aria-hidden="true"></i>
														</div>
													</div>

												</div>
												</a>
													</div>

											</th>
											<th>
												<div style="float: left;margin-right: 3px">
												<a href="" class="a-ico-sort">
												<div>

													<div style="float:left;text-align: center;line-height: 35px">
														<span >缴费记录</span>
													</div>
													<div class="div2-ico-sort">
														<div class="div-ico-sort hid">
														<i class="fa fa-caret-up" aria-hidden="false"></i>
														</div>
														<div class="div-ico-sort hid">
														<i class="fa fa-caret-down" aria-hidden="true"></i>
														</div>
													</div>

												</div>
												</a>
													</div>

											</th>
                                            <th>
												<div style="float: left;margin-right: 3px">
												<a href="" class="a-ico-sort">
												<div>

													<div style="float:left;text-align: center;line-height: 35px">
														<span ></span>
													</div>
													<div class="div2-ico-sort">
														<div class="div-ico-sort hid">
														<i class="fa fa-caret-up" aria-hidden="false"></i>
														</div>
														<div class="div-ico-sort hid">
														<i class="fa fa-caret-down" aria-hidden="true"></i>
														</div>
													</div>

												</div>
												</a>
													</div>

											</th>

										</tr>
									</thead>
									<tbody>
									{%for customer in customers%}
									<tr>
                                        <td><a class="btn-link" href="{%url 'customer_detail' customer.id%}">{{customer.qq}}</a></td>
                                        <td>{{customer.stu_id}}</td>
                                        <td><a class="btn-link" href="{%url 'customer_detail' customer.id%}">{{customer.name}}</a></td>

                                        <td>{{customer.consultant.name}}</td>
                                        <td>
                                            {%if customer.status == 'signed' %}
                                            <a href="{%url 'enroll_done' customer.qq%}"><div class="label label-table label-mint">{{customer.get_status_display}}</div></a>
                                            {%elif customer.status == 'unregistered'%}
                                            <a href="{%url 'enroll_done' customer.qq%}"><div class="label label-table label-danger">{{customer.get_status_display}}</div></a>
                                            {%else%}
                                            <a href="{%url 'enroll_done' customer.qq%}"><div class="label label-table label-pink">{{customer.get_status_display}}</div></a>
                                            {%endif%}
                                        </td>
                                        <td class=" btn-hover-info">
                                            <a href="{%url 'enroll_done'  customer.qq %}">
                                                <div>{{customer.paymentrecord_set.last.get_pay_type_display}}&emsp; <i class="fa fa-jpy" aria-hidden="true"></i>&ensp;{{customer.paymentrecord_set.last.paid_fee}}
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <button class="btn-info reset_student_password" student_qq="{{ customer.qq }}">重置该学员的用户密码</button>
                                        </td>
                                    </tr>


									{%endfor%}
									</tbody>
								</table>
								<span>共&emsp13;{{count}}&emsp14;条记录</span>
							</div>
						</div>
						<!--===================================================-->
						<!--End Data Table-->


						<!--fenye-->
						<div class="text-center">
							<ul class="pagination">
								{{fenye}}
							</ul>
						</div>
					</div>


				</div>

{%endblock%}
{%block dash-footer-js%}
    <script>
        $(function () {
            $('button.reset_student_password').click(function () {
                var student_qq = $(this).attr('student_qq')
                $.ajax({
                    url: location.href,
                    type: 'POST',
                    data: {student_qq: student_qq},
                    success: function (data) {
                        if(data == '重置密码成功'){
                            alert(data)
                        }else {
                            alert('操作有误，请重新操作')
                        }
                    }
                })
            })
        })
    </script>
{% endblock %}

