{% extends 'base.html'%}
{%load humanize %}
{%load static %}
{%load custom_tag %}
	{% block header-resource-files %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>old boy</title>


    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ]-->
     <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">


    <link href="{% get_static_prefix %}plugins/switchery/switchery.min.css" rel="stylesheet">


    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="/static/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">

	<!--dashboard css-->
	<link href="/static/css/dash_customer.css" rel="stylesheet">

    <!--Page Load Progress Bar [ OPTIONAL ]-->
    <link href="/static/plugins/pace/pace.min.css" rel="stylesheet">
    <script src="/static/plugins/pace/pace.min.js"></script>

    <!--Bootstrap Datepicker [ OPTIONAL ]-->
    <link href="/static/plugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet">


	<!--dashboard子模版继承填充头部样式-->
	{%block dash-header%}

	{%endblock%}

{%endblock%}

{% block body-container %}
	<div id="container" class="effect mainnav-lg mainnav-fixed">
		<header id="navbar">
			<div id="navbar-container" class="boxed">
				<div class="navbar-header">
					<a href="{% url 'crm_dashboard'%}" class="navbar-brand" title="返回销售主页">
{#						<img src="/static/img/old-boy.png" alt="Old Boy Logo" class="brand-icon" style="width: 218px;height: 50px">#}
                        <div alt="Old Boy Logo" class="brand-icon" style="width: 218px;height: 50px; font-size: 21px;">OLDBOY CRM</div>
					</a>
				</div>
				<div class="navbar-content clearfix">
					<ul class="nav navbar-top-links pull-left">
						<li class="tgl-menu-btn">
							<a class="mainnav-toggle" href="#">
								<i class="fa fa-navicon fa-lg"></i>
							</a>
						</li>
					</ul>
					<ul class="nav navbar-top-links pull-right">

						<li id="dropdown-user" class="dropdown">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
								<span class="pull-right">
									<img class="img-circle img-user media-object" src="/static/img/av1.png" alt="Profile Picture">
								</span>
								<div class="username hidden-xs">{{request.session.username}} &nbsp;</div>
							</a>
							<div class="dropdown-menu dropdown-menu-xs dropdown-menu-right with-arrow panel-default">
								<div class="pad-all text-center">
									<a href="{%url 'CRM_my_logout'%}" class="btn btn-primary">
										<i class="fa fa-sign-out fa-fw"></i> Logout
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<div class="boxed">
			<div id="content-container">
				<div style="background:white;height: auto;width: auto;margin: 30px 30px 0px 30px">
				{%block dash-filter%}

				{% endblock %}


				</div>
			{% block dash-content%}
			<div id="page-content">
				<div class="row" >
					<div class="col-lg-6">
					<div class="panel">
						<div class="panel-heading">
							<h3 class="panel-title"><b style="color: #553e53">建议跟进……</b></h3>
						</div>

						<!--Data Table-->
						<!--===================================================-->
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>
												<div style="float: left;margin-right: 3px">
												<a href="" class="a-ico-sort">
												<div>

													<div style="float:left;text-align: center;line-height: 35px">
														<span sort_by='id'>QQ</span>
													</div>
													<div class="div2-ico-sort hid">
														<div class="div-ico-sort">
														<i class="fa fa-caret-up" aria-hidden="false"></i>
														</div>
														<div class="div-ico-sort">
														<i class="fa fa-caret-down" aria-hidden="true"></i>
														</div>
													</div>

												</div>
												</a>
													</div>
												<div style="float: left;text-align: center;line-height: 34px ">
													<a href="" title="取消过滤">
														<i class="fa fa-ban hid" aria-hidden="true"></i>
													</a>
												</div>
												<div style="clear: both"></div>
											</th>
											<th>
												<div style="float: left;margin-right: 3px">
												<a href="" class="a-ico-sort">
												<div>

													<div style="float:left;text-align: center;line-height: 35px">
														<span sort_by="course">咨询课程</span>
													</div>
													<div class="div2-ico-sort hid">
														<div class="div-ico-sort">
														<i class="fa fa-caret-up " aria-hidden="false"></i>
														</div>
														<div class="div-ico-sort">
														<i class="fa fa-caret-down " aria-hidden="true"></i>
														</div>
													</div>

												</div>
												</a>
													</div>
												<div style="float: left;text-align: center;line-height: 34px">
													<a href="" title="取消过滤">
														<i class="fa fa-ban hid" aria-hidden="true"></i>
													</a>
												</div>
												<div style="clear: both"></div>
											</th>
											<th>
												<a href="#" class="a-ico-sort">
												<div>

													<div style="float:left;text-align: center;line-height: 35px">
														<span>最后跟进日期</span>
													</div>
													<div class="div2-ico-sort">
														<div class="div-ico-sort">
														<i class="fa fa-caret-up hid" aria-hidden="false"></i>
														</div>
														<div class="div-ico-sort">
														<i class="fa fa-caret-down hid" aria-hidden="true"></i>
														</div>
													</div>
												</div>
												</a>
											</th>
											<th>
												<div style="float: left;margin-right: 3px">
												<a href="#" class="a-ico-sort">
												<div>

													<div style="float:left;text-align: center;line-height: 35px">
														<span sort_by="status">最近状态</span>
													</div>
													<div class="div2-ico-sort">
														<div class="div-ico-sort">
														<i class="fa fa-caret-up hid" aria-hidden="false"></i>
														</div>
														<div class="div-ico-sort">
														<i class="fa fa-caret-down hid" aria-hidden="true"></i>
														</div>
													</div>

												</div>
												</a>
													</div>
											</th>
											<th>
												<div style="float: left;margin-right: 3px">
												<a href="#" class="a-ico-sort">
												<div>

													<div style="float:left;text-align: center;line-height: 35px">
														<span sort_by="status">最近记录</span>
													</div>
													<div class="div2-ico-sort">
														<div class="div-ico-sort">
														<i class="fa fa-caret-up hid" aria-hidden="false"></i>
														</div>
														<div class="div-ico-sort">
														<i class="fa fa-caret-down hid" aria-hidden="true"></i>
														</div>
													</div>

												</div>
												</a>
													</div>
											</th>
										</tr>
									</thead>
									<tbody>
									{%for customer in customers%}
									<tr>

											<td><a class="btn-link" href="{%url 'customer_detail' customer.id%}">{{customer.qq}}</a></td>
											<td><span class="text-muted">{{customer.get_course_display}} </span></td>
											<td><div>{{customer.consultrecord_set.last.date|naturalday:'SHORT_DATE_FORMAT'| default:'---'}}</div></td>

											<td>
												<div>{{customer.consultrecord_set.last.get_status_display | default:'---'}}</div>
											</td>
										<td class="btn-hover-success"><a href="{%url 'consult_record' customer.id %}"><div>{{customer.consultrecord_set.last.note|truncatechars:9 |default:'---'}}</div></a></td>
									</tr>
									{%endfor%}
									</tbody>
								</table>

							</div>
						</div>
						<!--===================================================-->
						<!--End Data Table-->


						<!--fenye-->
						<div class="text-center">
							<ul class="pagination">
								{{fenye}}
							</ul>
						</div>
					</div>
					</div>
					<div class="col-lg-6">
					<div class="panel">
						<div class="panel-heading">
							<h3 id='aaaaa' class="panel-title"><b style="color: #553e53">本月销售排名……</b></h3>
						</div>

						<!--Data Table-->
						<!--===================================================-->
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr>

											<th>
												<div style="float: left;margin-right: 3px">
												<a href="" class="a-ico-sort">
												<div>

													<div style="float:left;text-align: center;line-height: 35px">
														<span >姓名</span>
													</div>
													<div class="div2-ico-sort hid">
														<div class="div-ico-sort">
														<i class="fa fa-caret-up" aria-hidden="false"></i>
														</div>
														<div class="div-ico-sort">
														<i class="fa fa-caret-down" aria-hidden="true"></i>
														</div>
													</div>

												</div>
												</a>
													</div>
												<div style="float: left;text-align: center;line-height: 34px ">
													<a href="" title="取消过滤">
														<i class="fa fa-ban hid" aria-hidden="true"></i>
													</a>
												</div>
												<div style="clear: both"></div>
											</th>
											<th>
												<div style="float: left;margin-right: 3px">
												<a href="{{curr_url}}?o=0" class="a-ico-sort">
												<div>

													<div style="float:left;text-align: center;line-height: 35px">
														<span da_sort="track">正跟进</span>
													</div>
													<div class="div2-ico-sort ">
														<div class="div-ico-sort">
														<i class="fa fa-caret-up" aria-hidden="false"></i>
														</div>
														<div class="div-ico-sort">
														<i class="fa fa-caret-down" aria-hidden="true"></i>
														</div>
													</div>

												</div>
												</a>
													</div>
												<div style="float: left;text-align: center;line-height: 34px ">
													<a href="" title="取消过滤">
														<i class="fa fa-ban hid" aria-hidden="true"></i>
													</a>
												</div>
												<div style="clear: both"></div>
											</th>
											<th>
												<div style="float: left;margin-right: 3px">
												<a href="{{curr_url}}?o=1" class="a-ico-sort">
												<div>

													<div style="float:left;text-align: center;line-height: 35px">
														<span da_sort="signed">已签约客户</span>
													</div>
													<div class="div2-ico-sort ">
														<div class="div-ico-sort">
														<i class="fa fa-caret-up" aria-hidden="false"></i>
														</div>
														<div class="div-ico-sort">
														<i class="fa fa-caret-down" aria-hidden="true"></i>
														</div>
													</div>

												</div>
												</a>
													</div>
												<div style="float: left;text-align: center;line-height: 34px ">
													<a href="" title="取消过滤">
														<i class="fa fa-ban hid" aria-hidden="true"></i>
													</a>
												</div>
												<div style="clear: both"></div>
											</th>
											<th>
												<div style="float: left;margin-right: 3px">
												<a href="{{curr_url}}?o=2" class="a-ico-sort">
												<div>

													<div style="float:left;text-align: center;line-height: 35px">
														<span da_sort="2">客户总数</span>
													</div>
													<div class="div2-ico-sort ">
														<div class="div-ico-sort">
														<i class="fa fa-caret-up " aria-hidden="false"></i>
														</div>
														<div class="div-ico-sort">
														<i class="fa fa-caret-down " aria-hidden="true"></i>
														</div>
													</div>

												</div>
												</a>
													</div>
												<div style="float: left;text-align: center;line-height: 34px">
													<a href="" title="取消过滤">
														<i class="fa fa-ban hid" aria-hidden="true"></i>
													</a>
												</div>
												<div style="clear: both"></div>
											</th>
											<th>
												<div style="float: left;margin-right: 3px">
												<a href="{{curr_url}}?o=3" class="a-ico-sort">
												<div>

													<div style="float:left;text-align: center;line-height: 35px">
														<span da_sort="suc_per">成单率</span>
													</div>
													<div class="div2-ico-sort  ">
														<div class="div-ico-sort">
														<i class="fa fa-caret-up " aria-hidden="false"></i>
														</div>
														<div class="div-ico-sort">
														<i class="fa fa-caret-down" aria-hidden="true"></i>
														</div>
													</div>

												</div>
												</a>
													</div>
												<div style="float: left;text-align: center;line-height: 34px">
													<a href="" title="取消过滤">
														<i class="fa fa-ban hid " aria-hidden="true"></i>
													</a>
												</div>
												<div style="clear: both"></div>
											</th>

										</tr>
									</thead>
									<tbody>
									{%for sale in sale_list%}

											{%if sale.0 == request.session.username%}
											<tr style="background-color:#8A2BE2;color: white">
												<td >{{sale.0}}</td>
												<td>{{sale.1.0}}</td>
												<td >{{sale.1.1}}</td>
												<td>{{sale.1.2}}</td>
												<td>{% add_persent sale.1.3 %}</td>
											</tr>
											{%else%}
											<tr >
												<td>{{sale.0}}</td>
												<td>{{sale.1.0}}</td>
												<td>{{sale.1.1}}</td>
												<td>{{sale.1.2}}</td>
												<td>{% add_persent sale.1.3 %}</td>
											</tr>
											{%endif%}

									{%endfor%}
									</tbody>
								</table>

							</div>
						</div>
						<!--===================================================-->
						<!--End Data Table-->


						<!--fenye-->
						<div class="text-center">
							<ul class="pagination">
								{{fenye}}
							</ul>
						</div>
					</div>
					</div>
					</div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">有人向我推荐……（点击QQ号或姓名快捷添加客户信息）</h3>
                        </div>

                        <!--Data Table-->
                        <!--===================================================-->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div style="float: left;margin-right: 3px">
                                                <a href="" class="a-ico-sort">
                                                <div>

                                                    <div style="float:left;text-align: center;line-height: 35px">
                                                        <span>QQ</span>
                                                    </div>
                                                    <div class="div2-ico-sort">
                                                        <div class="div-ico-sort hid">
                                                        <i class="fa fa-caret-up hid" aria-hidden="false"></i>
                                                        </div>
                                                        <div class="div-ico-sort hid">
                                                        <i class="fa fa-caret-down hid" aria-hidden="true"></i>
                                                        </div>
                                                    </div>

                                                </div>
                                                </a>
                                                    </div>

                                            </th>
                                            <th>
                                                <div style="float: left;margin-right: 3px">
                                                <a href="" class="a-ico-sort">
                                                <div>

                                                    <div style="float:left;text-align: center;line-height: 35px">
                                                        <span>电话</span>
                                                    </div>
                                                    <div class="div2-ico-sort">
                                                        <div class="div-ico-sort hid">
                                                        <i class="fa fa-caret-up hid" aria-hidden="false"></i>
                                                        </div>
                                                        <div class="div-ico-sort hid">
                                                        <i class="fa fa-caret-down hid" aria-hidden="true"></i>
                                                        </div>
                                                    </div>

                                                </div>
                                                </a>
                                                    </div>

                                            </th>
                                            <th>
                                                <div style="float: left;margin-right: 3px">
                                                <a href="" class="a-ico-sort">
                                                <div>

                                                    <div style="float:left;text-align: center;line-height: 35px">
                                                        <span>姓名</span>
                                                    </div>
                                                    <div class="div2-ico-sort">
                                                        <div class="div-ico-sort hid">
                                                        <i class="fa fa-caret-up hid" aria-hidden="false"></i>
                                                        </div>
                                                        <div class="div-ico-sort hid">
                                                        <i class="fa fa-caret-down hid" aria-hidden="true"></i>
                                                        </div>
                                                    </div>

                                                </div>
                                                </a>
                                                    </div>

                                            </th>
                                            <th>
                                                <div style="float: left;margin-right: 3px">
                                                <a href="" class="a-ico-sort">
                                                <div>

                                                    <div style="float:left;text-align: center;line-height: 35px">
                                                        <span>推荐日期</span>
                                                    </div>
                                                    <div class="div2-ico-sort">
                                                        <div class="div-ico-sort hid">
                                                        <i class="fa fa-caret-up hid" aria-hidden="false"></i>
                                                        </div>
                                                        <div class="div-ico-sort hid">
                                                        <i class="fa fa-caret-down hid" aria-hidden="true"></i>
                                                        </div>
                                                    </div>

                                                </div>
                                                </a>
                                                    </div>

                                            </th>
                                            <th>
                                                <div style="float: left;margin-right: 3px">
                                                <a href="" class="a-ico-sort">
                                                <div>

                                                    <div style="float:left;text-align: center;line-height: 35px">
                                                        <span>推荐人</span>
                                                    </div>
                                                    <div class="div2-ico-sort">
                                                        <div class="div-ico-sort hid">
                                                        <i class="fa fa-caret-up hid" aria-hidden="false"></i>
                                                        </div>
                                                        <div class="div-ico-sort hid">
                                                        <i class="fa fa-caret-down hid" aria-hidden="true"></i>
                                                        </div>
                                                    </div>

                                                </div>
                                                </a>
                                                    </div>

                                            </th>
                                            <th>
                                                <div style="float: left;margin-right: 3px">
                                                <a href="" class="a-ico-sort">
                                                <div>

                                                    <div style="float:left;text-align: center;line-height: 35px">
                                                        <span>备注</span>
                                                    </div>
                                                    <div class="div2-ico-sort">
                                                        <div class="div-ico-sort hid">
                                                        <i class="fa fa-caret-up hid" aria-hidden="false"></i>
                                                        </div>
                                                        <div class="div-ico-sort hid">
                                                        <i class="fa fa-caret-down hid" aria-hidden="true"></i>
                                                        </div>
                                                    </div>

                                                </div>
                                                </a>
                                                    </div>

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {%for referral in referrals%}
                                        {% if referral.flag %}
                                            <tr>
                                                <td><a class="btn-link" href="{% url 'addcustomer' referral.id %}" target="_Blank">{{referral.qq}}</a></td>
                                                <td><span class="text-muted">{{referral.phone}} </span></td>
                                                <td><a class="btn-link" href="{% url 'addcustomer' referral.id %}" target="_blank">{{referral.name}}</a></td>
                                                <td><span class="text-muted"><div>{{referral.referral_date}}</div> </span></td>
                                                <td><span class="text-muted">{{referral.referralfrom}} </span></td>
                                                <td><span style="max-width: 100px"class="text-muted">{{referral.comment|truncatechars:40}} </span></td>
                                            </tr>
                                        {% endif %}

                                    {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <div id="sales_chart" class="row" style="margin:0px;height:600px;"></div>
				</div>
			{% endblock %}
			</div>
			<nav id="mainnav-container" >
				<div id="mainnav" style="height:1000px">
					<!--Menu-->
					<!--================================-->
					<div id="mainnav-menu-wrap">
						<div class="nano">
							<div class="nano-content">
								<ul id="mainnav-menu" class="list-group">

									<!--Category name-->
									<li class="list-header">菜单栏</li>
									<li id="customers_library">
										<a href="{%url 'customers_library' 'all' 'all' 'all' 'all' 'all' 'all' 1 %}">

											<i class="fa fa-database"></i>
											<span class="menu-title">
												<strong>客户库</strong>
											</span>
										</a>

									</li>

									<li id="tracking">
										<a href="{%url 'tracking' 'all' 'all' 'all' 'all' 'all' 'all' 1 %}">
											<i class="fa fa-dashboard"></i>
											<span class="menu-title">
												<strong>我的跟进</strong>
												<!--<span class="label label-success pull-right">New</span>-->
											</span>
										</a>
									</li>


									<li id="signed">
										<a href="{%url 'signed' 'all' 'all' 'all' 'all' 'all' 'all' 1 %}">
											<i class="fa fa-th"></i>
											<span class="menu-title">
												<strong>我的客户</strong>

											</span>
										</a>

									</li>

									<li id="class_list">
										<a href="{%url 'class_list'%}">

											<i class="fa fa-list-ul"></i>
											<span class="menu-title">
												<strong>班级列表</strong>
											</span>
										</a>

									</li>
									<li id="statistical">
										<a href="{% url 'statistical' %}">

											<i class="fa fa-area-chart"></i>
											<span class="menu-title">
												<strong>销售统计</strong>
											</span>
										</a>

									</li>



								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>



        <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>



	</div>

{% endblock  %}




{% block bottom-js %}




	<!--Fast Click [ OPTIONAL ]-->
	<script src="/static/js/fastclick.min.js"></script>



	<!--Switchery [ OPTIONAL ]-->
	<script src="/static/js/switchery.min.js"></script>


	<!--Bootstrap Select [ OPTIONAL ]-->
	<script src="/static/js/bootstrap-select.min.js"></script>

	<!--dashboard js-->
	<script src="/static/js/dash_customer.js"></script>

	<script src="/static/plugins/echart/echarts.common.min.js"></script>

    <!--Bootstrap Datepicker [ OPTIONAL ]-->
    <script src="/static/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>

	<!--dashboard子模版继承填充尾部js样式-->
	{%block dash-footer-js%}

	{%endblock%}
<script>
		$(function($){

			// 高亮当前选中菜单栏
		var cur_url_name=location.pathname.split('/')[2].split('-')[0];

		$('#mainnav-menu li').each(function (i,n) {
			if($(this).attr('id')== cur_url_name){
				$(this).css({'background':'#000000','color':'black'})
			}

		});
			//eChart 生成图表js
			var sale_name= [];
			var	 sale_signed= [];
			$.getJSON("{%url 'sale_table' %}",function (data) {
				$.each(data,function (k,v) {
					sale_name.push(k);
					sale_signed.push(v[1]);
				});
			     // 基于准备好的dom，初始化echarts图表
        var myChart = echarts.init(document.getElementById('sales_chart'));

        var option = {
        	color:['#00FF00'],
        	backgroundColor:'white',
			title : {
        		x:'center',
				text: '本月销售统计',
				style:{
        		fontSize:50,
				color:'black'	,
				fontStyle:'italic'
				}

			},
			tooltip : {
				trigger: 'item'
			},
			legend: {
				show:true,
				x:'left',
				data:['已签约客户']
			},
			calculable : true,
			xAxis : [
				{
					type : 'category',
					data : sale_name

				}
			],
			yAxis : [
				{
					type : 'value'
				}
			],
			series : [

				{
					name:'已签约客户',
					type:'bar',
					data:sale_signed
				}
			]
		};


		// 为echarts对象加载数据
		myChart.setOption(option);
	});
		});


        $('#time_range').click(function () {
            var start_time = $("#time_range_start").val()
            var end_time = $("#time_range_end").val()
            if(start_time == ''){
                alert('请选择一个开始时间')
            }else if(end_time == ''){
                alert('请选择一个结束时间')
            }else {
                var current_url = window.location.href.split('?')[0].split('-')
                current_url[5] = ('range')
                var to_url = current_url.join('-')
                console.log(to_url)
                window.location.href = to_url + '?start_time=' + start_time + '&end_time=' + end_time
            }
        })



</script>
{% endblock %}