{% extends "base.html" %}

{% block header-resource-files %}
    <script src="/static/plugins/echart/echarts.common.min.js"></script>
{% endblock %}

{% load custom_tag %}


{% block body-container %}

 	<div id="container" class="cls-container">

		<!-- HEADER -->
		<!--===================================================-->
		<div class="cls-header">
			<div class="cls-brand">
				<a class="box-inline" href="index.html">
					<span class="brand-title">老男孩IT教育 <span class="text-thin">| 只培养技术精英</span></span>
				</a>
			</div>
		</div>

		<!-- CONTENT -->
		<!--===================================================-->
		<div class="cls-content">
			<h3 class="text-danger">成绩查询</h3>
            {% if errors %}
                <p class="h4 text-thin pad-btm mar-btm">
                    <i class="fa fa-cog fa-fw"></i>
                        {% for err in errors %}
                            {{ err }}<br/>
                        {% endfor %}
                </p>
            {% endif %}
			<div class="row mar-btm">
				<form class="col-xs-12 col-sm-10 col-sm-offset-1" method="post" action="{% url 'single_stu_grade_check' %}">{% csrf_token %}
					<input name="search_str" type="text" placeholder="输入学员QQ号查询成绩..." class="form-control input-lg error-search">

				</form>



			</div>

			<br>
			<div class="pad-top"><a class="btn-link" href="/">Back to Homepage</a></div>

		</div>


        {% if stu_obj %}
        <div class="row">
            <div style="margin-left: 5%;margin-right: 5%;width: 90%" class=" align-center">
                <div class="panel" style="color: gray">
                    <div class="panel-heading">
                        <h3 class="panel-title">成绩查询结果</h3>
                    </div>
                    <div class="panel-body text-left">
                        <p><b>学号: </b>{{ stu_obj.stu_id }}</p>
                        <p><b>姓名: </b>{{ stu_obj.name }}</p>
                        <p><b>QQ: </b>{{ stu_obj.qq }}</p>

                        {% for course in stu_obj.class_list.select_related %}
                            <table class="table table-striped table-hover">
                                <thead>
                                    <h4 class="text-center" >
                                        < {{ course.get_course_display }} > 第{{ course.semester }}期
                                    </h4>
                                    <p>开课日期:{{ course.start_date }}</p>
                                    <p>结业日期:{{ course.graduate_date }}</p>
                                    <p>成绩算法: {{ study_record_model.score_choices }}</p>
                                    <tr>
                                        <th>学分</th>
                                        <th>节次</th>
                                        <th>出勤情况</th>
                                        <th>成绩</th>
                                        <th>成绩批注</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    {% for course_day in course.courserecord_set.select_related %}
                                        <tr>
                                            {% for stu in course_day.studyrecord_set.select_related %}
                                            <!--得到一个StudyRecord对象-->
                                                {% if stu.student.qq == stu_obj.qq %}
                                                <!--StudyRecord的student字段链接到了Custommer表-->
                                                    <td>{{ stu.score }}</td>
                                                    <td>{{ course_day.day_num }}</td>
                                                    <td class="stu_{{ stu.record }}">{{ stu.get_record_display }}</td>
                                                    <td style="background-color: {{ stu|get_score_color }}" >{{ stu.get_score_display }}</td>
                                                    <td  >{{ stu.note }}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td ><b>总学分:{% get_single_stu_total_scores course  stu_obj %}</b></td>
                                    </tr>

                                </tbody>
                            </table>
                            <div id="grade-chart-{{ course.id }}" class="row" style="height:400px;"></div>
                            <hr/>



                        {% endfor %}

                    </div>
                </div>
            </div> <!--end col-lg-9-->
        </div>
        {% endif %}
	</div>
	<!--===================================================-->
	<!-- END OF CONTAINER -->


{% endblock %}



{% block bottom-js %}
{% if stu_obj %}
    <script>
    $(document).ready(function(){

        $.getJSON("{% url 'get_grade_chart'  stu_obj.id %}",function(callback){

            console.log(callback);
            //chart sample
            $.each(callback,function(class_id,score_dic){
                var student_name_list =[],
                    student_score_list = [];
                for (i in score_dic.record_count){
                        student_name_list.push(score_dic.record_count[i][1]) ; //姓名
                        student_score_list.push(score_dic.record_count[i][2]) ; //成绩
                        //student_score_list.push(score_dic.record_count[i]) ; //成绩
                        //student_score_list.push(score_dic.record_count[i]) ; //成绩
                }
                var myChart = echarts.init(document.getElementById('grade-chart-'+class_id));
                // 指定图表的配置项和数据
                var option = {

                    title: {
                        x:'center',
                        text: '班级整体成绩'
                    },
                    tooltip: {},
                    legend: {
                
                        data:['成绩']
                    },
                    xAxis: {
                        data: student_name_list

                    },
                    yAxis: {},
                    series: [{
                        name: '总学分',
                        type: 'bar',
                        data: student_score_list,
                        itemStyle:{
                            normal:{
                                color:function(value){
                                    console.log(value);
                                    if(value.name == "{{ stu_obj.name }}"){
                                        return 'yellowgreen'
                                    }else if(value.name == "及格线"){
                                        return '#3BB9FF'
                                    }else{
                                        return 'red'
                                    }
                                }
                            }
                        }

                    }],

                };

                myChart.setOption(option);
                //end chart sample


            });//end each


        });//end getJSON










    });//end doc ready






    </script>
{% endif %}

{% endblock %}

