{% extends "adminlte/base.html" %}

{% block base_body_inner %}
    <div class="row" style="margin:0 auto; width:450px; height:500px;">
        <div style="margin:0 auto; width:50%; height:50%;" ></div>
        <h1>{{ page_system_name }}</h1>
        <div class="panel-body" style="">
            {% block page-content %}
                <h4><a class="btn-link" href="">成绩查询</a></h4>
                <h4><a class="btn-link" href="">奖学金政策</a></h4>
                <h4><a class="btn-link" href="">投诉建议</a></h4>
                <h4><a class="btn-link" href="">学员常见问题汇总</a></h4>
            {% endblock %}
        </div>
    </div>
{% endblock %}
