{% extends 'crm/index.html' %}

{% block page-content-title %}奖学金政策{% endblock %}

{% block page-content %}

    <h5>为激励学员努力学习,顺利达到学习目标,我校将实施以下奖学金政策,每学期学员毕业后,若学习成绩达到以下水平,将获取相应标准的奖学金.</h5>
    <ul >
        <li class="list-item-sm">全程作业成绩为A+, 免除本学期全部学费.</li>
        <li class="list-item-sm">全程作业成绩为A, 获奖学金RMB5000元.</li>
        <li class="list-item-sm">全程作业成绩得A率达90%, 获奖学金RMB4000元.</li>
        <li class="list-item-sm">全程作业成绩得A率达80%, 获奖学金RMB2000元.</li>
        <li class="list-item-sm">全程作业成绩得A率达70%, 获奖学金RMB1000元.</li>

    </ul>
    <h5>注意事项</h5>
    <ul>
        <li class="list-item-sm">奖学金的发放将于每学期毕业后2周内完成.</li>
        <li class="list-item-sm">目前奖学金政策仅适用于Python相关课程.</li>
        <li class="list-item-sm">目前奖学金政策不适用于重修学员.</li>
        <li class="list-item-sm">本政策的最终解释权归校方所有.</li>

    </ul>
{% endblock %}